.navbar{
    position: sticky;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    padding-left: 0px !important;
    left: 0;
    right: 0;
    background-color: #282634;
    padding-top: 0px;
    padding-bottom: 0;
    z-index: 1;

    


    &_burger{
        display: flex;  
    
        padding-right: 0 !important;
        padding-left: 0 !important;

    }


    &__list{
        display: flex;
        position: relative;
        white-space: nowrap;
    
        color: #DCDCDC;
        padding-left: 0 !important;
        padding-right: 0 !important;

        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-around;
        list-style: none;
    }

    &__list::after{
            content: "";
            position: absolute;
            top: 10%; 
            right: -4%; 
            height: 80%;
            width: 1px; 
            background: #a5a5a5;
        
    }

    &__list-items{
    
        color: rgb(208, 208, 208);
        white-space: nowrap;
        text-decoration: none;
        font-family: 'Questrial', sans-serif;
        transition: all 0.3s ease-in-out;


        &--active{
          
        color: #ff0000;
        white-space: nowrap;
        font-weight: 600;
        font-family: 'Questrial', sans-serif;
        transition: all 0.3s ease-in-out;
        
        }

        &:hover{
            color: red;
        }
    }

    
    

}

.dropdown {
    position: absolute;
    top: calc(100% - 10px); /* Adjust the top value to position the dropdown below the input */
    left: 0;
    z-index: 1001;
    display: block;
    background-color: #000000;
    border: 1px solid #00000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.dropdown li:hover {
    background-color: #f5f5f5;

}

.dropdown li a {
    color: #ffffff;
    text-decoration: none;
}

.dropdown li:hover a{
    color: black;
    transition: all 0.3s ease;
    text-decoration: underline;
}
